@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  box-sizing: border-box;
}
.container {
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 44px;
}
nav {
  position: relative;
  width: 550px;
  height: 55px;
  left: 0px;
  top: 0px;

  background: #f55a5a;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header {
  position: absolute;

  left: 244px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;

  color: #ffffff;
  margin-bottom: 80px;
  font-size: 20px;
}
.image {
  position: relative;
  width: 125px;
  height: 168px;
  top: 50px;
  margin-right: 300px;
  margin-bottom: 60px;
  border-radius: 5px;
}
.location {
  position: relative;
  margin-left: 200px;
  top: -160px;

  font-family: "Inter";
  font-style: normal;
  font-weight: bolder;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;

  color: #2b283a;
}
.url {
  position: relative;
  margin-left: 20px;
  top: -160px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #918e9b;
}
.title {
  position: relative;

  top: -155px;
  margin-left: 200px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;

  color: #2b283a;
}
.date {
  position: relative;
  top: -155px;
  margin-left: 200px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;

  color: #2b283a;
}
.content {
  position: relative;
  width: 326px;
  top: -155px;
  margin-left: 200px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */

  color: #2b283a;
}
.fa-location-dot {
  color: #f55a5a;
}
.fa-earth-americas {
  margin-right: 20px;
  margin-left: -40px;
}
hr {
  margin-top: -100px;
  margin-left: 30px;
  width: 500px;
  opacity: 20%;
}
.main--content {
  margin-bottom: 10px;
}
